@use "../../assets/style/variables.scss";

.container-login {
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    border-radius: variables.$border-radius;
    display: flex;
    align-items: center;

    .logo-img {
        width: 40%;
        display: flex;
        justify-content: center;
        img {
            max-width: 100px;
        }
    }

    .form-login {
        height: 100%;
        width: 60%;
        color: #ffffff;
        background-color: variables.$color-hover;
        padding: 20px;
        box-sizing: border-box;

        .combo-input {
            display: flex;
            align-items: center;
            height: 30px;
            position: relative;
            width: 100%;

            .input-primary {
                width: 100%;
                height: 100%;
                border-radius: variables.$border-radius;
                border: 1px solid variables.$color-border-input;
                padding: 0 40px 0 12px;

                &::placeholder {
                    font-size: 13px;
                    font-style: italic;
                }
            }

            .icon {
                position: absolute;
                right: 0;
                color: #babec5;
            }
        }
    }
}