
%flex {
    display: flex;
    align-items: center;
}

.container-header {
    height: 48px;
    @extend %flex;
    justify-content: space-between;

    .head1 {
        @extend %flex;
        margin-left: 10px;

        h3 {
            margin-left: 20px;
        }
    }

    .head2 {
        @extend %flex;

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 8px;
        }
    }
}
